{% extends 'finance/base.html' %}
{% load static %}
{% block content %}
<div class="body">
  <div class='container'>
        
            <div class='row'>
                <div class='col-md-2'></div>
                <div class='col-md-8'>
                    <div class='card card-body'>
                    <center><h3>ABOUT ME</h3><hr style='width:150px;border: 2px solid green'> </center>
                    

                            <p>Inspiration strikes in the most unexpected moments, and for me, it was a culmination of personal struggles and a burning desire to make a difference. As someone who has navigated the turbulent waters of personal finance, I understand the overwhelming challenges that come with managing money. This inspired me to embark on a journey of creating PerFM, a groundbreaking personal finance manager that puts the power back into your hands.</p>
                            
                            <p>At its core, PerFM is more than just a project. It is a testament to the transformative impact personal experiences can have on innovation. The idea blossomed during my time at Holberton School, where I was given the freedom to explore my passion for technology and its potential to address real-life problems. This Portfolio Project became a conduit for turning my vision into reality.</p>
                            <p> Every aspect of PerFM has been meticulously crafted with you in mind. We recognize that financial management goes beyond numbers; it's a deeply personal journey. That's why we're committed to providing an intuitive platform that empowers you to take charge of your financial well-being.</p>
                            <p> Join us on this transformative journey and experience the power of PerFM. Together, we can revolutionize personal finance management and provide a solution that empowers individuals to achieve financial freedom.
                        </p>
                        <h5>Meet the dedicated minds behind PerFM:</h5>
                       <div style='display:flex'>
                        <a href='https://linkedin.com/in/mube1goup'> <img src="{% static 'icons/linkedin.png' %}" alt="linkedin" style='width:40px;height:40px;'></a>
                        <a href='https://github.com/mube1234'> <img src="{% static 'icons/github.png' %}" alt="github" style='width:40px;height:40px;'></a>
                        <a href='https://twitter.com/@mube_goup'> <img src="{% static 'icons/twitter.png' %}" alt="Twitter" style='width:40px;height:40px;'></a>
                        </div>
                        <br>
                        <p>This is our passion project, and we invite you to join us on this exciting venture. PerFM is an open-source project, and we believe in the power of collaboration. Feel free to explore our <a href='https://github.com/mube1234/perfm.git'>GitHub repository</a> to learn more about our codebase, contribute your ideas, or offer feedback.</p>
                       <br>
                       <p>Together, let's revolutionize the way we approach personal finance and empower individuals worldwide to thrive financially. Join us as we embark on this transformative journey, and together, we'll shape a brighter financial future.</p>
                    </div>
        </div>
    </div>
  </div>
 
{% endblock %}


