{% extends 'finance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='row' style='margin-top:5px'>
  <div class='col-md-3'>
    {% include 'finance/sidebar.html' %}
  </div>

  <div class='col-md-8 ml-2'>
    <div class="row">
      
      {% comment %} start of col-md-3 {% endcomment %}
      <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header  text-bg-success">
                <div class="row">
                    <div class="col-sm-3"><i class="bi-currency-dollar" style="font-size: 4rem; color: white;"></i></div>
                    <div class="col-sm-9">
                        <div style="font-size:2.5em;float:right">{{income_count}}</div>
                        <div style='float:right'>Income</div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
              <a href="{% url 'income' %}" style='text-decoration:none'><p class="card-text">view income<i class="bi bi-arrow-right-circle" style='float:right'></i></p></a>
            </div>
        </div>
    </div> {% comment %} end of col-md-3 {% endcomment %}

   {% comment %} start of col-md-3 {% endcomment %}
   <div class="col-md-4">
    <div class="card mb-3">
        <div class="card-header" style='background:#998620'>
            <div class="row">
                <div class="col-sm-3"><i class="bi-calendar2-check" style="font-size: 4rem; color:white;"></i></div>
                <div class="col-sm-9">
                    <div style="font-size:2.5em;float:right">4</div>
                    <div style='float:right'>Plan</div>
                </div>
            </div>
        </div>
        <div class="card-footer">
          <a href="" style='text-decoration:none'><p class="card-text">view plan<i class="bi bi-arrow-right-circle" style='float:right'></i></p></a>
        </div>
    </div>
</div> {% comment %} end of col-md-3 {% endcomment %}

      {% comment %} start of col-md-3 {% endcomment %}
      <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header  text-bg-primary">
                <div class="row">
                    <div class="col-sm-3"><i class="bi-cash-coin" style="font-size: 4rem; color: white;"></i></div>
                    <div class="col-sm-9">
                        <div style="font-size:2.5em;float:right">{{budget_count}}</div>
                        <div style='float:right'>Budget</div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
              <a href="{% url 'budget' %}" style='text-decoration:none'><p class="card-text">view budget<i class="bi bi-arrow-right-circle" style='float:right'></i></p></a>
            </div>
        </div>
    </div> {% comment %} end of col-md-3 {% endcomment %}

   {% comment %} start of col-md-3 {% endcomment %}
   <div class="col-md-4">
    <div class="card mb-3">
        <div class="card-header  text-bg-secondary">
            <div class="row">
                <div class="col-sm-3"><i class="bi-bag-fill" style="font-size: 4rem; color: white;"></i></div>
                <div class="col-sm-9">
                    <div style="font-size:2.5em;float:right">{{expense_count}}</div>
                    <div style='float:right'>Expense</div>
                </div>
            </div>
        </div>
        <div class="card-footer">
          <a href="{% url 'expense' %}" style='text-decoration:none'><p class="card-text">view expense<i class="bi bi-arrow-right-circle" style='float:right'></i></p></a>
        </div>
    </div>
</div> {% comment %} end of col-md-3 {% endcomment %}

   {% comment %} start of col-md-3 {% endcomment %}
   <div class="col-md-4">
    <div class="card mb-3">
        <div class="card-header" style='background:indigo'>
            <div class="row">
                <div class="col-sm-3"><i class="bi-folder2" style="font-size: 4rem; color: white;"></i></div>
                <div class="col-sm-9">
                    <div style="font-size:2.5em;float:right;color:white">{{cat_count}}</div>
                    <div style='float:right;color:white'>Category</div>
                </div>
            </div>
        </div>
        <div class="card-footer">
          <a href="{% url 'category' %}" style='text-decoration:none'><p class="card-text">view category<i class="bi bi-arrow-right-circle" style='float:right'></i></p></a>
        </div>
    </div>
</div> {% comment %} end of col-md-3 {% endcomment %}

   {% comment %} start of col-md-3 {% endcomment %}
   <div class="col-md-4">
    <div class="card mb-3">
        <div class="card-header  text-bg-danger">
            <div class="row">
                <div class="col-sm-3"><i class="bi-bag-dash" style="font-size: 4rem; color: white;"></i></div>
                <div class="col-sm-9">
                    <div style="font-size:2.5em;float:right">{{debt_count}}</div>
                    <div style='float:right'>Debt</div>
                </div>
            </div>
        </div>
        <div class="card-footer">
          <a href="{% url 'debt' %}" style='text-decoration:none'><p class="card-text">view debt<i class="bi bi-arrow-right-circle" style='float:right'></i></p></a>
        </div>
    </div>
</div> {% comment %} end of col-md-3 {% endcomment %}



</div>
  </div>

</div>
{% endblock %}
