{% extends 'finance/base.html' %}
{% load static %}
{% block content %}
<div class="body">
    <div class="image-container">
      <img src="{% static 'images/hommee.png' %}" alt="Image">
      <div class="image-overlay">
        <h1 class="image-text">Take Charge of Your Finances</h1>
        <p style='margin-top:20px;'>Achieve Financial Freedom</p>
        {% if not  user.is_authenticated %}
        <a href="{% url 'register' %}" class="image-button">Get Started</a>
        {% else %}
        <a href="{% url 'dashboard' %}" class="btn btn-info" style='padding:8px 16px;font-size:17px;'>Access Dashboard</a>
        {% endif %}
      </div>
    </div>
 <div class='container'>
  {% comment %} section about {% endcomment %}
   <section class='about' id='about'>
      <center><h1 style='color:#004499;margin-top:50px;'>About Us</h1>
        <hr style='border:2px solid black;width:200px;'>
      </center>
      <div class='row'>
        <div class='col-md-5'>
          <img
          src="{% static 'images/logo.png' %}"
          alt="AstPerFM Logo"
          style="width: 90%; height:auto;"
          class="brand-image img-circle elevation-3"
      />
        </div>
        <div class='col-md-7' style='margin-top:50px;'>
          <p style='line-height:1.8'>At <strong>PerFM</strong>, we offer a revolutionary personal finance management system that empowers individuals to take control of their financial well-being. Our comprehensive platform simplifies budgeting, expense tracking, and goal setting, giving you the tools to achieve your financial goals. </p>
          <p style='line-height:1.8'>With personalized guidance from our team of experts, we provide the support and strategies you need to make informed financial decisions. Join us on this transformative journey and unlock your financial potential with our reliable and intuitive service. Take control of your finances and embark on a brighter financial future with PerFM. <a href="{% url 'about' %}"  >Read more</a></p>
          
          {% if not  user.is_authenticated %}
          <button class='btn btn-primary' style='width:150px;float:right'>Sign Up</button>
          {% endif %}
        </div>
      </div>
   </section>
  </div> 
     {% comment %} section how it works {% endcomment %}
     <section class='how_it_work' id='how_it_work' style='background:#fff;padding-bottom:20px'>
      <center><h1 style='color:#004499;margin-top:10px;'>How it works</h1>
        <hr style='border:2px solid black;width:250px;'></center>
      <div class='container'>
      <div class='row' style='margin-top:50px'>
          <div class='col-md-3'>
            <div class='card card-body'>
             
                <img src="{% static 'icons/adduser.png' %}" alt="Image" style='width:96px;height:96px;'><br>
      
                  <h4>Create Account</h4>
               
                  <p>Sign up and create your personal finance manager
                     account to get started on your financial journey.</p>
            </div>
          </div>

          <div class='col-md-3' >
            <div class='card card-body'>
              <img src="{% static 'icons/planning.png' %}" alt="Image" style='width:96px;height:96px;'><br>
        
            <h4>Track and Organize</h4>
            <p>Easily manage and categorize your financial transactions in one place, 
              gaining a clear overview of your income and expenses.</p>
            </div>
         </div>
          <div class='col-md-3' >
            <div class='card card-body'>
              <img src="{% static 'icons/budgeting.png' %}" alt="Image" style='width:96px;height:96px;'><br>
            <h4>Budget and Plan</h4>
                  <p>Set budgets, financial goals, and analyze
                     spending patterns to save money and allocate funds towards your goals.</p>
            </div>
          </div>
        <div class='col-md-3' >
          <div class='card card-body'>
            <img src="{% static 'icons/track.png' %}" alt="Image" style='width:96px;height:96px;'><br>
          <h4>Real-Time Insights</h4>
          <p>tay informed with real-time visualizations and 
            reports that show spending trends, income sources, and progress towards goals.</p>
          </div>
        </div>
      </div>
    </div>  
   </section>
{% comment %} resources {% endcomment %}
  <section class='resources' id='resources'>
   <div class="container px-4 mt-3" id="icon-grid">
    <center><h1 style='color:#004499;margin-top:10px;'>Resources</h1>
      <hr style='border:2px solid black;width:250px;'></center>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <i class=" bi-bounding-box flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
        <div>
          <h3 class=" mb-0 fs-4">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi bi-cpu-fill flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
        <div>
          <h3 class=" mb-0 fs-4">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi bi-calendar3 flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
        <div>
          <h3 class=" mb-0 fs-4">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi bi-cpu flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
        <div>
          <h3 class=" mb-0 fs-4">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-speedometer2 flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
        <div>
          <h3 class=" mb-0 fs-4">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-toggles2 flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
        <div>
          <h3 class=" mb-0 fs-4">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-geo-fill flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
        <div>
          <h3 class=" mb-0 fs-4">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-tools flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
        <div>
          <h3 class=" mb-0 fs-4">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
    </div>
  </div>
</section>{% comment %} end of resources {% endcomment %}

{% comment %} contact form {% endcomment %}
   <section class='contact mt-5' id='contact' style='background:#fff;padding-bottom:20px'>
      <center><h1 style='color:#004499;'>Contact us</h1>
        <hr style='border:2px solid black;width:200px;'>
      </center>
      <div class='row '>
        <div class='col-md-3'></div>
        <div class='col-md-6' style='margin-top:50px;'>
          <form>
            <div class="form-group">

              <div class="form-group">
                <label><strong>Full Name</strong></label>
                <input type="text" class="form-control" id="" placeholder="Full Name">
              </div><br>
              <div class="form-group">
                <label for="exampleInputEmail1"><strong>Email address</strong></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="" class="message"><strong>Message</strong></label>
                <textarea class="form-control" name="" id="" rows="3"></textarea>
            </div><br>
          </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
   </section>
   

 {% comment %} footer {% endcomment %}
  <section class='footer' id='footer'>
   <div class="container " id="icon-grid">
    <div class="row mb-2 mt-5">
      <div class="col ">
        <div>
          <h4 class="fw-bold mb-0 ">Contact</h4>
          <hr style='border:1px solid black;width:250px;'>
          <p>Email: mubetam@gmail.com</p>
          <p>Phone: +251941208840</p>
          <p>Address: Oromia, Ethiopia</p>
          <p>PO. Box: 1674</p>
        </div>
      </div>
      <div class="col">
        <div>
          <h4 class="fw-bold mb-0 ">Useful Links</h4>
          <hr style='border:1x solid black;width:250px;'>
          <p><a href="">About</a></p>
          <p><a href="">How it Work</a></p>
          <p><a href="">Resources</a></p>
          <p><a href="">Privacy</a></p>
        </div>
      </div>
      <div class="col ">
        <div>
          <h4 class="fw-bold mb-0 ">Follow Us</h4>
          <hr style='border:1px solid black;width:250px;'>
       
          <p><a href=""><i class='bi-facebook'></i></a> Facebook</p>
          <p><a href=""><i class='bi-twitter'></i></a> Twitter</p>
          <p><a href=""><i class='bi-linkedin'></i></a> Linkedin</p>
          <p><a href=""><i class='bi-github'></i></a> Github</p>
        </div>
      </div>
  
 
    </div>
  </div>
</section>{% comment %} end of footer {% endcomment %}
{% endblock %}


